QPalette {
    Base: rgba(0,0,0,0);
    Text: rgb(255,255,255);
    Window: rgb(25,25,25);
    WindowText: rgb(25,25,25);
    Highlight: "#61b5f8";
    HighlightedText: rgb(255,255,255);
}

Slider {
    GrooveColor: rgba(255, 255, 255, 0.2);
    GrooveHighlightColor: "#2ca7f8";
    HandleBrush: qlineargradient(x1:0, y1:0 x2:0, y2:1, stop:0 "#7f7f7f", stop:1 "#707070");
    HandleBorderColor: transparent;
    TickmarkColor: rgba(255,255,255,0.1);
}

Slider:focus {
    HandleBorderColor: "#2ca7f8";
}

Slider:disabled {
    GrooveColor: rgba(255, 255, 255, 0.08);
    GrooveHighlightColor: "#0d4265";
    HandleBrush: qlineargradient(x1:0, y1:0 x2:0, y2:1, stop:0 "#4e4e4e", stop:1 "#3a3a3a");
    HandleBorderColor: rgba(0, 0, 0, 0.1);
}

PushButton {
    BackgroundBrush: rgba(255, 255, 255, 0.15);
    TextColor: "#dcdcdc";
    BorderBrush: transparent;
}

PushButton:disabled {
    BackgroundBrush: rgba(255, 255, 255, 0.06);
    TextColor: "#40dcdcdc";
    BorderBrush: transparent;
}

PushButton:hover {
    BackgroundBrush: rgba(255, 255, 255, 0.3);
    TextColor: white;
    BorderBrush: transparent;
}

PushButton:pressed {
    BackgroundBrush: rgba(255,255,255,0.1);
    TextColor: "#2ca7f8";
    BorderBrush: transparent;
}

PushButton:focus {
    BorderBrush: "#2ca7f8";
}

PushButton:flat {
    TextColor: "#0082fa"
}

PushButton:flat:disabled {
    TextColor: "#0060b9"
}

PushButton:flat:hover {
    TextColor: "#16b8ff"
}

LineEdit {
    BackgroundBrush: rgba(255,255,255,0.15);
    BorderBrush: rgb(0,0,0);
}

LineEdit:disabled {
    BackgroundBrush: rgba(255,255,255,0.04);
    BorderBrush: rgb(0,0,0);
}

LineEdit:focus {
    BackgroundBrush: rgba(255,255,255,0.05);
    BorderBrush: rgba(43,167,248,0.6);
}

ScrollBar {
    HandleBrush: rgba(255, 255, 255, 0.2);
    HandleBroderBrush: rgba(255, 255, 255, 0.05);
}

ScrollBar:hover {
    HandleBrush: rgba(255, 255, 255, 0.4);
    HandleBroderBrush: rgba(255, 255, 255, 0.1);
}

ScrollBar:pressed {
    HandleBrush: rgba(96, 96, 96, 0.3);
}

ScrollBar:focus {
    HandleBroderBrush: "#2ca7f8";
}
