QPalette {
    Base: rgba(0,0,0,0);
    Text: rgb(255,255,255);
    Window: rgb(25,25,25);
    WindowText: rgb(25,25,25);
    Highlight: "#61b5f8";
    HighlightedText: rgb(255,255,255);
}

Slider {
    GrooveColor: rgb(0,0,0);
    GrooveHighlightColor: rgb(255,255,255);
    HandleColor: rgb(255,255,255);
    TickmarkColor: rgb(255,255,255);
}

PushButton {
    BackgroundColor: rgba(255, 255, 255, 0.15);
    TextColor: "#dcdcdc";
    BorderColor: transparent;
}

PushButton:disabled {
    BackgroundColor: rgba(255, 255, 255, 0.06);
    TextColor: "#dcdcdc";
    BorderColor: transparent;
}

PushButton:hover {
    BackgroundColor: rgba(255, 255, 255, 0.3);
    TextColor: white;
    BorderColor: transparent;
}

PushButton:pressed {
    BackgroundColor: rgba(255,255,255,0.1);
    TextColor: "#2ca7f8";
    BorderColor: transparent;
}

PushButton:focus {
    BorderColor: "#2ca7f8";
}

PushButton:flat {
    TextColor: "#0082fa"
}

PushButton:flat:disabled {
    TextColor: "#0060b9"
}

PushButton:flat:hover {
    TextColor: "#16b8ff"
}

LineEdit {
    BackgroundColor: rgba(255,255,255,0.15);
    BorderColor: rgb(0,0,0);
}

LineEdit:disabled {
    BackgroundColor: rgba(255,255,255,0.04);
    BorderColor: rgb(0,0,0);
}

LineEdit:focus {
    BackgroundColor: rgba(255,255,255,0.05);
    BorderColor: rgba(43,167,248,0.6);
}
