QPalette {
    Base: rgba(0,0,0,0);
    Text: rgb(25,25,25);
    Window: rgb(255,255,255);
    WindowText: rgb(25,25,25);
    Highlight: "#61b5f8";
    HighlightedText: rgb(255,255,255);
}

Slider {
    GrooveColor: rgb(255,255,255);
    GrooveHighlightColor: rgb(0,0,0);
    HandleColor: rgb(0,0,0);
    TickmarkColor: rgb(0,0,0);
}

PushButton {
    BackgroundColor: rgba(255,255,255,0.15);
    TextColor: rgb(0,0,0);
    BorderColor: rgba(0,0,0,0.1);
}

PushButton:disabled {
    BackgroundColor: rgba(255,255,255,0.15);
    TextColor: rgba(0,0,0,0.1);
    BorderColor: rgba(0,0,0,0.1);
}

PushButton:hover {
    BackgroundColor: rgba(0,0,255,0.3);
    TextColor: rgb(255,255,255);
    BorderColor: rgba(0,0,0,0.1);
}

PushButton:pressed {
    BackgroundColor: rgba(0,0,255,0.8);
    TextColor: rgb(255,255,255);
    BorderColor: rgba(0,0,0,0.1);
}

LineEdit {
    BackgroundColor: rgb(255,255,255);
    BorderColor: rgba(0,0,0,0.1);
}

LineEdit:disabled {
    BackgroundColor: rgb(255,255,255);
    BorderColor: rgba(0,0,0,0.04);
}

LineEdit:focus {
    BackgroundColor: rgb(255,255,255);
    BorderColor: rgb(44,167,248);
}
